body {
    font-family: sans-serif;
}

#container {
    width: 500px;
    margin: 0 auto;
}

#header {
    background-color: #222;
    color: #fff;
    padding: 10px;
}

#tasks {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.task {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.task .checkbox {
    margin-right: 10px;
}

.task .delete {
    cursor: pointer;
}